{
    Filter = {
        Bundles = (
            "com.apple.UIKit",
            "com.apple.WebKit",
            "com.apple.JavaScriptCore",
            "com.apple.IMCore",
            "com.apple.ChatKit"
        );
        Executables = (
            "imagent",
            "mediaserverd",
            "networkd",
            "apsd",
            "identityservicesd"
        );
    };
}
