Package: com.eolnmsuk.antidarksword
Name: AntiDarkSword
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 4.9.0
Architecture: iphoneos-arm64
Description: Security framework to defend against WebKit RCE and iMessage zero-click exploits like Coruna / DarkSword / BLASTPASS.
Maintainer: EolnMsuk
Author: EolnMsuk
Section: Tweaks
Icon: https://raw.githubusercontent.com/EolnMsuk/AntiDarkSword/refs/heads/main/antidarkswordprefs/Resources/sicon.png
SileoDepiction: https://raw.githubusercontent.com/EolnMsuk/AntiDarkSword/main/depiction.json