Package: com.eolnmsuk.antidarksword
Name: AntiDarkSword
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 4.8.8
Architecture: iphoneos-arm
Description: Security framework to defend against WebKit RCE and iMessage zero-click exploits like Coruna / DarkSword / BLASTPASS.
Maintainer: EolnMsuk
Author: EolnMsuk
Section: Tweaks
Icon: https://raw.githubusercontent.com/EolnMsuk/AntiDarkSword/main/antidarkswordprefs/Resources/sicon.png